@font-face {
	font-family: 'Rewir';
	src: url('../Fonts/Rewir/Rewir-Light.eot');
	src: local('Rewir-Light'),
		url('../Fonts/Rewir/Rewir-Light.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Rewir/Rewir-Light.woff') format('woff'),
		url('../Fonts/Rewir/Rewir-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Zaklad';
	src: url('../Fonts/Zaklad-Regular.eot');
	src: url('../Fonts/Zaklad-Regular.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Zaklad-Regular.woff') format('woff'),
		url('../Fonts/Zaklad-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Apropal';
	src: url('../Fonts/Apropal-Bold.eot');
	src: local('Apropal Bold'), local('Apropal-Bold'),
		url('../Fonts/Apropal-Bold.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Apropal-Bold.woff') format('woff'),
		url('../Fonts/Apropal-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'Lombard';
	src: url('../Fonts/Lombard/Lombard-regular.eot');
	src: url('../Fonts/Lombard/Lombard-regular.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Lombard/Lombard-regular.woff') format('woff'),
		url('../Fonts/Lombard/Lombard-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Havana';
	src: url('../Fonts/Havana/Havana-Regular.eot');
	src: url('../Fonts/Havana/Havana-Regular.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Havana/Havana-Regular.woff') format('woff'),
		url('../Fonts/Havana/Havana-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cyrulik Sharp';
	src: url('../Fonts/Cyrulik/Cyrulik-SharpBold.eot');
	src: url('../Fonts/Cyrulik/Cyrulik-SharpBold.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Cyrulik/Cyrulik-SharpBold.woff') format('woff'),
		url('../Fonts/Cyrulik/Cyrulik-SharpBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Praho';
	src: url('../Fonts/Praho/Praho-Black.eot');
	src: url('../Fonts/Praho/Praho-Black.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Praho/Praho-Black.woff') format('woff'),
		url('../Fonts/Praho/Praho-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
