.galeria {
  border-top: 2px dashed green;
  border-bottom: 2px dashed green;
  // height: 50vh;
  padding-bottom: 5em;
  .container {
    .row {
      .col-12 {
        padding: 0;
      }
    }
  }

  .close-me {
    background-image: url("../images/closeMenuIcon.png");
  }

  .galleryimg {
    height: 35vh;
    padding: 0;
  }

  .slick-next {
      position: absolute;
      margin-top: 1em;
      top: 100%;
      right: 5%;
  }
  .slick-prev {

      position: absolute;
      margin-top: 1em;
      top: 100%;
      left: 5%;
    }


  #gallery {
    // height: 50vh;
  }
  #img1{
    background-image: url("../images/galeria/g1-min.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #img2{
      background-image: url("../images/galeria/g2-min.JPG");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img3{
      background-image: url("../images/galeria/g3-min.JPG");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img4{
      background-image: url("../images/galeria/g4-min.JPG");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img5{
      background-image: url("../images/galeria/g5-min.JPG");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img6{
      background-image: url("../images/galeria/g6-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img7{
      background-image: url("../images/galeria/g7-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img8{
      background-image: url("../images/galeria/g8-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img9{
      background-image: url("../images/galeria/g9-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img10{
      background-image: url("../images/galeria/g10-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img11{
      background-image: url("../images/galeria/g11-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img12{
      background-image: url("../images/galeria/g12-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img13{
      background-image: url("../images/galeria/g13-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img14{
      background-image: url("../images/galeria/g14-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img15{
      background-image: url("../images/galeria/g15-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img16{
      background-image: url("../images/galeria/g16-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img17{
      background-image: url("../images/galeria/g17-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #img18{
      background-image: url("../images/galeria/g18-min.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
}
@media (min-width: 500px) {
  .galeria {
    .galleryimg {
      height: 39vh;
    }
  }
}
@media (min-width: 960px) {

  .galeria{

    .slick-next {
      position: absolute;
      margin-top: 1em;
      top: -30%;
      right: 5%;
    }
    .slick-prev {

      position: absolute;
      margin-top: 1em;
      top: -30%;
      left: 5%;
    }
  }
}
@media (min-width: 1366px) {

  .galeria{

    .slick-next {
      position: absolute;
      margin-top: 1em;
      top: 50%;
      right: -5%;
    }
    .slick-prev {

      position: absolute;
      margin-top: 1em;
      top: 50%;
      left: -5%;
    }
  }
}
